In [4]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
# Load in csv

raw_2015dt= pd.read_csv("C:/Users/admin/Documents/SMU/Final Project/Data/recs2015.csv")
raw_2015dt.head()

,DOEID,REGIONC,DIVISION,METROMICRO,UATYP10,TYPEHUQ,ZTYPEHUQ,CELLAR,ZCELLAR,BASEFIN,...,ZELAMOUNT,NGXBTU,PERIODNG,ZNGAMOUNT,FOXBTU,PERIODFO,ZFOAMOUNT,LPXBTU,PERIODLP,ZLPAMOUNT
0,10001,4,10,METRO,U,2,0,0,0,-2,...,0,103.32,1,0,137.45,-2,-2,91.33,-2,-2
1,10002,3,7,NONE,R,2,0,0,0,-2,...,1,NaN,-2,-2,137.45,-2,-2,91.33,-2,-2
2,10003,3,6,METRO,U,2,0,1,0,1,...,0,100.14,1,0,137.45,-2,-2,91.33,-2,-2
3,10004,2,4,MICRO,C,2,0,1,0,1,...,0,NaN,-2,-2,137.45,-2,-2,91.33,2,0
4,10005,1,2,METRO,U,2,0,1,0,0,...,0,102.83,1,0,137.45,-2,-2,91.33,-2,-2

In [6]:
raw_2015dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5686 entries, 0 to 5685
Columns: 759 entries, DOEID to ZLPAMOUNT
dtypes: float64(262), int64(493), object(4)
memory usage: 32.9+ MB

In [ ]:
# Drop all columns starting Z and DoIDE
# Count is given by NWEIGHT

In [ ]:
## Data Filtering (specific colums, row conditions)
# extract only required cols
#raw_2015_df = raw_2015dt[['DOEID','TYPEHUQ','STORIES','SIZEOFGARAGE','KOWNRENT','YEARMADERANGE','ADQINSUL',
   #                       'TOTSQFT_EN','WINDOWS','KWH']]
#raw_2015_df.head()
# Descriptive statistics for each column
#raw_2015dt.describe()

In [7]:
# Descriptive statistics for each column
raw_2015dt.describe()

,DOEID,REGIONC,DIVISION,TYPEHUQ,ZTYPEHUQ,CELLAR,ZCELLAR,BASEFIN,ZBASEFIN,ATTIC,...,ZELAMOUNT,NGXBTU,PERIODNG,ZNGAMOUNT,FOXBTU,PERIODFO,ZFOAMOUNT,LPXBTU,PERIODLP,ZLPAMOUNT
count,5686.000000,5686.000000,5686.000000,5686.000000,5686.0,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,...,5686.000000,3304.000000,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5.686000e+03,5686.000000,5686.000000
mean,12843.500000,2.760816,5.670243,2.596025,0.0,-0.205593,-0.505276,-1.199261,-1.381815,-0.111854,...,0.109040,100.088868,0.181674,-0.731094,137.441423,-1.738305,-1.872318,9.133000e+01,-1.479071,-1.748505
std,1641.551147,1.004187,2.842655,1.164641,0.0,1.134775,0.880288,1.235166,0.933693,1.187953,...,0.311716,4.437933,2.197037,1.117215,0.142739,1.197667,0.558504,5.230054e-12,1.663040,0.767910
min,10001.000000,1.000000,1.000000,1.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,0.000000,83.340000,-2.000000,-2.000000,135.000000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
25%,11422.250000,2.000000,3.000000,2.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,0.000000,99.050000,-2.000000,-2.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
50%,12843.500000,3.000000,5.000000,2.000000,0.0,0.000000,0.000000,-2.000000,-2.000000,0.000000,...,0.000000,101.145000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
75%,14264.750000,4.000000,8.000000,3.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,102.780000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
max,15686.000000,4.000000,10.000000,5.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,107.720000,5.000000,1.000000,137.450000,5.000000,1.000000,9.133000e+01,5.000000,1.000000